body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: var(--font-vela);
  font-size: 15px;
  line-height: var(--lh-small);
  letter-spacing: var(--ls-medium);

  @media (--hover) {
    &:hover {
      color: var(--color-text-secondary);
    }
  }
}

pre {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-family: monospace;
}
