html {
  font-size: var(--vw-1512);

  @media (--laptop) {
    font-size: var(--vw-1440);
  }

  @media (--tablet) {
    font-size: var(--vw-768);
  }

  @media (--mobile) {
    font-size: var(--vw-320);
  }
}

body {
  font-size: 20px;
  font-family: var(--font-vela);
  font-weight: 600;
  color: var(--color-text-primary);
  line-height: var(--lh-medium);
  letter-spacing: var(--ls-medium);
}

a {
  color: inherit;
}

h1,
.heading-large,
.display-medium {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 129px;
  line-height: var(--lh-micro);
  letter-spacing: var(--ls-small);
}

.display-large {
  font-size: 161px;
  font-family: var(--font-inter);
  line-height: var(--lh-micro);
  letter-spacing: var(--ls-small);
}

h2,
h3,
.heading-medium {
  font-family: var(--font-vela);
  font-weight: 600;
  line-height: var(--lh-small);
  letter-spacing: var(--ls-medium);
}

.heading-medium {
  font-size: 38px;
}

.text-large {
  font-size: 28px;
}

.text-small {
  font-size: 15px;
}

.text-medium {
  font-size: 20px;
}

:is(.label-large, .label-medium, .label-small) {
  line-height: var(--lh-small);
}

.label-large {
  font-size: 38px;
}

.label-medium {
  font-size: 20px;
}

.label-small {
  font-size: 15px;
}

.caption {
  font-size: 8px;
  line-height: var(--lh-small);
}

/* TABLET */

@media (--tablet) {
  body {
    font-size: 11px;
  }
  .display-large {
    font-family: var(--font-vela);
    font-weight: 600;
    line-height: var(--lh-medium);
    letter-spacing: var(--ls-medium);
    font-size: 23px;
  }

  .display-medium {
    font-size: 46px;
  }

  .heading-large {
    font-family: var(--font-vela);
    font-weight: 600;
    line-height: var(--lh-small);
    letter-spacing: var(--ls-medium);
    font-size: 28px;
  }
  .heading-medium {
    font-size: 18px;
  }

  .text-large {
    font-size: 13px;
  }
  .text-medium {
    font-size: 11px;
  }
  .text-small {
    font-size: 9px;
  }

  .label-large {
    font-size: 18px;
  }

  .label-medium {
    font-size: 11px;
  }

  .label-small {
    font-size: 9px;
  }
}
