/* ---- COLOR ---- */

.text-color-primary {
  color: var(--color-text-primary);
}

.text-color-secondary {
  color: var(--color-text-secondary);
}

.bg-color-primary {
  color: var(--color-bg-primary);
}

.bg-color-secondary {
  color: var(--color-bg-secondary);
}

.text-uppercase {
  text-transform: uppercase;
}

.inverse {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffff;
    mix-blend-mode: difference;
  }

  /* &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.3);
  } */
}

/* COMPOSITION */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid {
  --columns: 12;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

.grid[data-layout="33x3"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33vw, 18rem);
}

.grid[data-rows="masonry"] {
  grid-template-rows: masonry;
  align-items: start;
}

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--spacing-4));
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}

.wrapper {
  padding-inline: var(--spacing-4);
}

.region {
  padding-top: var(--region-space, var(--spacing-12));
  padding-bottom: var(--region-space, var(--spacing-12));
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--spacing-3));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

.frame {
  --n: 16;
  --d: 9;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-frame-type="vh"] {
    --padding-top: 55px;
    width: 100%;
    height: calc(100vh - var(--padding-top));
  }

  & > img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
